.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  display: flex;
  justify-content: space-between;
}
.text_header{
  font-size:15px;
  margin:10px 0 10px 15px;
  font-weight:bold;
}
.user_header{
  margin: auto 15px;
}
.home{
  margin-top:20vh;
  text-align:center;
}
.hello_text{
  font-size: 30px;
  font-weight:bold;
}
.login_page_size{
  height: 90vh;
  margin-top: 25vh;
}
.login_title{
  text-align: center;
  font-size:35px;
  font-weight: bold;
}
.register_page_size{
  height: 90vh;
  margin-top: 20vh;
}
.register_title{
  text-align: center;
  font-size:35px;
  font-weight: bold;
}
.unable_button{
  pointer-events: none;
  background-color:gainsboro !important;
  border : none !important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
